<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webaid.mappers.SigunguMapper">

	<select id="selectAll" resultType="SigunguVO">
		select * from sigungu
	</select>
	
	<select id="selectBySido" resultType="SigunguVO">
		select * from sigungu where sido_no=#{sido_no}
	</select>
</mapper>