<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webaid.mappers.TradeMapper">

	<select id="selectAll" resultType="TradeVO">
		select * from trade order by no asc;
	</select>
	
	<select id="selectOne" resultType="TradeVO">
		select * from trade where no=#{no}
	</select>
	
	<select id="listSearch" resultType="TradeVO">
		select * from trade <include refid="search"></include> order by trade_price asc limit #{pageStart},#{perPageNum}
	</select>
	
	<sql id="search">
		<if test="searchType=='a'.toString()">
			where baddr like concat('%',#{keyword1},'%')
		</if>
		<if test="searchType=='t'.toString()">
			where trade_price between #{keyword2} and #{keyword3}
		</if>
		<if test="searchType=='at'.toString()">
			where baddr like concat('%',#{keyword1},'%') and trade_price between #{keyword2} and #{keyword3}
		</if>
	</sql>
	
	<select id="listSearchCount" resultType="int">
		select count(no) from trade <include refid="search"></include>
	</select>
	
	<insert id="register">
		insert into trade values(0, #{bno}, #{bname}, #{rno}, #{state}, #{room_type}, #{pay_type}, #{tenant}, #{phone});
	</insert>
	
	<update id="update">
		update trade set 
	</update>
	
	<delete id="delete">
		delete from trade where bno=#{bno}
	</delete>
</mapper>